addtribes-page{}



input{
 border-radius:15px;
 -moz-border-radius:15px;
 -webkit-border-radius:15px;
 border:solid 1px black;
 padding: 5px;
 font-family: "FontAwesome";
}
#container{
    padding: 5px;
    width: 200px; 
    margin-left: auto; 
    margin-right: auto;
    }
