addtribes-page{}



//*rt{
// border-radius:15px;
 //-moz-border-radius:15px;
 //-webkit-border-radius:15px;
 //border:solid 1px black;
 //padding: 5px;
 //font-family: "FontAwesome";
//}
//#container{
  //  padding: 5px;
    //width: 200px; 
    //margin-left: auto; 
    //margin-right: auto;
    //}
ion-navbar{
    text-align: center;
}
size{
    width: 55px;
}


.input-bar {
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
border:none!important;
}



.input-group-btn{
    width: 10%;
    float: left;
    height: 80px; 
    width: 80px; 
    border: 1px solid black;
    flex-wrap: wrap;
    border-radius: 100%;
    box-shadow: 0 0 5px gray;
    display: block;
    opacity: .50;
    color: #000;
    }

    
.width100 {
    width: 90%;
    float: right;
    }

    .group{
    position: absolute;
    top: 45%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    display: block;
    
    }