
    tribes-page{}
    
    
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
    text-align: right !important;
    
    }
    
    H2{
      display: inline;
    }
  .no-border{
    border-top: 0px;
    border-left: 0px;
   border-right: 0px;
   border-bottom: 0px;
   border: none!important;
  }


  